@{
    ViewBag.Title = "MsgAdd";
}
<div class="container">

    <h2 class="H2Position">News channel added!</h2>
        <a class="btn btn-primary btnHome" href="http://localhost:33687/">Home</a>
    </div>
