@{
    ViewBag.Title = "MsgDelUrl";
}
<div class="container">
     <h2 class="H2Position">Rss Channel removed!</h2>
     <a class="btn btn-primary btnHome" href="http://localhost:33687/">Home</a>
    </div>
